<h2>Tests:</h2>
<div class="span8">
<table class="table table-condensed">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Quarter</th>
        <th>Course</th>
        <th>Grade</th>
        <th>Submitted By</th>
        <th></th>
        <th></th>
      </tr>
    </thead>   
  <tbody>

<% @tests.each do |test| %>
  <tr>
    <td><%= link_to test.subject, test %></td>
    <td><%= test.quarter %></td>
    <td><%= test.course %></td>
    <td><%= test.grade %></td>
    <td><%= test.user %></td>
    <td><%= link_to 'Download', test.link, target: '_blank' %></td>
    <% if current_user.has_role? :admin %>
    <td><%= link_to 'Edit', edit_test_path(test) %></td>
    <td><%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
